<div class="row hmz">
	<div class="stripe pagination-centered text-center">
		<div class="span7custom-nav">
		</div>
        <div class="span9 custom-content center wide-column">
        	<h1 class="title">Email Collector</h1>
        </div>
	 </div>
</div>

<div class="container center black">
	<br> <br> <br>
	<h3 class="text-center"></h3><br>
    <h1 class="text-center leave-it">Give me your email!</h1>
		    <div id="email-area">
			    <%= form_for @email, url: emails_path do |f| %>
					  <%= f.text_field :email, :class => "span3 input-email", :placeholder => "E-mail" %>
					  <%= button_tag(:class => "btn btn-primary btn-wide mll text-center submit-button btn-inverse") do %>
						  <i class='fui-mail'></i> Notify me when things will be available!
						<% end %>
					<% end %>
					<% unless flash.empty? %>
						<div class="alert alert-info">
							<% flash.each do |name, msg| %>
					      <%= content_tag :div, msg, class: name %>
					    <% end %>
				  	</div>
				  <% end %>
				</div>
</div>
	
	</div>
</div>


